BasedOnStyle: Google

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
BraceWrapping:
  AfterFunction: true
BreakBeforeBraces: Custom
ColumnLimit: 100
ContinuationIndentWidth: 2
